<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports by Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report_all.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>Отчёты по ключу: {{ name }}</h1>
            <div class="reports-container">
                {% for report in reports %}
                <div class="report-card">
                    <h3>{{ report.full_name }}</h3>
                    <p>{{ report.report_text }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="back-button">
                <a href="/" class="btn">Вернуться назад</a>
            </div>
        </div>
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Шаранов Артём</h3>
                    <p>РИ-311120</p>
                </div>
                <div class="footer-section">
                    <h3>Ресурсы</h3>
                    <p>...</p>
                </div>
                <div class="footer-section">
                    <h3>Контакты</h3>
                    <p>tereradearde@gmail.com</p>
                </div>
                <div class="footer-section">
                    <h3>Дополнительно</h3>
                    <p>...</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

